
body{
    background-color: rgb(141, 49, 49);
}
.encabezado{
    background-color: rgb(7, 7, 110);
    color: white;    
    padding: 30px;
    display: flex;
    justify-content:space-between ;
    border-radius: 10px;
}
.titulo{
    color:blue;
    position: relative;
    right: 550px;
}
.menu a{
    color: white;
    padding: 10px;
    position:relative ;
    right: 300px;
    top: 30px;
}
.contenido{
    max-width: 1800px;
    margin:10px auto;
    background-color: antiquewhite;
    color: blue;
    text-align: center;
    border-radius: 10px;
}
.contenido2{
    background-color: rgb(33, 206, 154);
    max-width: 1800px;
    margin: 10px auto;
    border-radius: 10px;
}
.memes{
    background-color: greenyellow;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
.videos{
    background-color: darkorange;
    border-radius: 10px;
    text-align: center;
}
.pie{
    max-width: 1800px;
    margin: 10px auto;
    background-color: white;
    color: green;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}